<style>
        body{
            background-color: rgb(249, 255, 238);
            color: solid black;
        }
        header{
            background-color: black;
            color: white;
            font-size: 40px;
            font-family: 'Papyrus',fantasy;
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;
        }
        img{
            float: left;
            border-radius: 10%;
            height: 250px;
            width: 350px;
        }
        footer{
            background-color: black;
            color: white;
            font-size: 25px;
            font-family: 'Papyrus',fantasy;
            text-align: center;
            padding: 10px;
        }
        h1,h3{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
        #upper{
            font-family: Garamond, serif;
            font-size: 25px;
            margin-left: 400px;
        }
        ul{
            font-size: 23px;
            text-align:left;
            margin: 20px;
            margin-left: 50px;
        }
        li{
            margin: 5px;
        }
        h2{
            color: rgb(108, 197, 25);
        }
        #box{
            border: rgba(160, 226, 36, 0.87);
            border-style: solid;
            border-radius: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: white;
            color: black;
            text-align: center;
            margin: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }
    </style>